/*Navbar customization*/
:root {
    --lightBlue: rgb(191, 224, 246);
    --button: rgb(130, 240, 140);
    --buttonHover: rgb(91, 180, 97);
    --background: rgb(129, 202, 172);
}
.navbar{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar a{
    font-size: 1.2rem;
}
#logo{
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--lightBlue);
}

/*Footer customization*/
#footer-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#feedback-link{
    color: black;
    text-decoration: none;
}
.box{
    margin: 10px 20px 10px 20px;
}
#creds{
    margin-top: 5px;
}
.box h4{
    margin: 0;
}
/*Basic page layout with grid used in each pages*/
.fixed{
    position: fixed;
    width: 100%;
}
body{
    background-color: var(--background);
    font-size: 1.5rem;
}
.grid-item {
    background-color: var(--lightBlue);
}
.page-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto minmax(40vmax, auto) minmax(50vmax, auto) auto;
}
.header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.footer{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: var(--background);
}
.grid-main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.grid-info1{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.grid-info2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/*General formatting*/
.infotext {
    padding: 5px;
}
.infotext div {
    color: black;
}
#inputText{
    margin-top: 10px;
    font-size: 150%;
}
.inputForm{
    padding:0 50px 0 50px;
}
.btn-outline-secondary{
    background-color: var(--button);
    color: black;
}
.btn-outline-secondary:hover{
    background-color: var(--buttonHover);
    color: black;
}
.btn-outline-danger{
    background-color: rgba(255, 0, 0, 0.9);
    color: black;
}

/*Viewport settings*/
#preview{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#viewport {
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.082);
    width: 90vw;
    height: calc(90vw/(16/9));
}
.a-enter-ar-button {
    margin-bottom: 35px;
}
.a-enter-vr-button {
    margin-right: 10px;
}

/*Design and profile*/
.linkForm, #projectForm{
    padding:0 10px 0 10px;
}
#projectsForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pButton{
    margin: 0 5px 10px 5px;
}
#floater {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: var(--lightBlue);
}
.vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}
.inner-block {
    width: max-content;
    margin: auto;
    margin-top: 30vh;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    transition: all .3s;
    border-radius: 20px;
}
.vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}
.button-float {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    margin: 0;
}
#link-change {
    width: 100%;
}
.hidden-submit {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}
#title-input {
    margin-bottom:-15px !important;
}
#title-name {
    font-weight: bold;
}

/*Layout properties used for "high" pixel-count wide-screen monitors*/
@media only screen and (min-width: 1081px) and (min-aspect-ratio: 1/1) {
    .page-grid {
        grid-template-rows: auto minmax(60vh, auto) minmax(30vh, auto) auto;
    }
    .grid-main {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .grid-info1{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .grid-info2 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    /* Limit the width of image viewport in side by side layout*/
    #viewport {
        width: 70vw;
        height: calc(70vw/(16/9));
    }
}
